BasedOnStyle: LLVM  # style-guide
IndentWidth: 4  # размер отступа в пробелах  для вложенных блоков кода
TabWidth: 4  # ширина табуляции
UseTab: Never  # всегда использовать пробелы вместо табов
ColumnLimit: 110  # максимальная длина строки

AlwaysBreakAfterReturnType: None  # запретить автоматический разрыв после return-типа
PenaltyReturnTypeOnItsOwnLine: 100000  # высокое число «штрафа» за вынесенный return-type

AlwaysBreakAfterDefinitionReturnType: None

AllowShortFunctionsOnASingleLine: Inline  # короткие функции в одну строку (включая тело с {})
AlignAfterOpenBracket: BlockIndent  # если переносить, то с новой строки с отступом
BinPackArguments: false  # не запаковывать аргументы
BinPackParameters: false  # не запаковывать аргументы при вызове
PackConstructorInitializers: NextLine  # не запаковывать при конструкторах

AllowShortIfStatementsOnASingleLine: false  # короткий if без переноса строк
AllowShortLoopsOnASingleLine: false  # короткие for/while в одну строку
AllowShortCaseLabelsOnASingleLine: false  # короткие case-метки в switch в одну строку
AllowAllArgumentsOnNextLine: true # Разрешить перенос всех аргументов на следующую строку

SortIncludes: true  # автоматически сортировать #include
IncludeBlocks: Regroup  # группировать #include по блокам

SpaceBeforeParens: ControlStatements  # пробел перед инструкциями типа (if, for, while)
SpaceBeforeCpp11BracedList: true  # пробел перед скобка в modern c++ конструкциях

# DisableFormat: True

# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
