BasedOnStyle: LLVM  # style-guide
IndentWidth: 4  # размер отступа в пробелах  для вложенных блоков кода
TabWidth: 4  # ширина табуляции
UseTab: Never  # всегда использовать пробелы вместо табов
ColumnLimit: 120  # максимальная длина строки

AllowShortFunctionsOnASingleLine: Inline  # короткие функции в одну строку (включая тело с {})
AllowShortIfStatementsOnASingleLine: true  # короткий if без переноса строк
AllowShortLoopsOnASingleLine: true  # короткие for/while в одну строку
AllowShortCaseLabelsOnASingleLine: true  # короткие case-метки в switch в одну строку

SortIncludes: true  # автоматически сортировать #include
IncludeBlocks: Regroup  # группировать #include по блокам

SpaceBeforeParens: ControlStatements  # пробел перед инструкциями типа (if, for, while)
SpaceBeforeCpp11BracedList: true  # пробел перед скобка в modern c++ конструкциях

# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
